body {
    font-family: "Crimson Text", serif;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    padding-top: 40px;
    
  }
  
  img {
    width: 80px;
    display: block;
  }
  
  section {
    width: 200px;
    display: block;
    padding: 20px;
    right: 0;
    
  }
  
  div .column {
    width: 15%;
    margin-bottom: 20px;
    display: block;
  }

  .link{
    margin: 0 auto;   
    padding: 10px;    
  }
  
  .col-2{
    display: inline;
  }
  .week-weather-conteiner{
    padding-left: 15px;
    padding-right: 15px;
  }